article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}
audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
audio:not([controls]) {
    display: none;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
body,button,input,select,textarea {
    font-family: sans-serif;
}
a {
    color: #00e;
}
a:visited {
    color: #551a8b;
}
a:focus {
    outline: thin dotted;
}
a:hover,a:active {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,strong {
    font-weight: bold;
}
blockquote {
    margin: 1em 40px;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
pre,code,kbd,samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,q:after {
    content: '';
    content: none;
}
small {
    font-size: 75%;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
ul,ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}
dd {
    margin: 0 0 0 40px;
}
nav ul,nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    *margin-left: -7px;
}
button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button,input {
    line-height: normal;
    *overflow: visible;
}
table button,table input {
    *overflow: auto;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1 {
    text-align: center
;
}
h2 {
    color: #990
;
}
html,body {
    position: relative;
    height: 100%;
    background: #F2EFEF;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: helvetica;
}
h1 {
    font-size: 2.3em ;
}
h2 {
    font-size: 1.6em;
}
label {
    width: 8em;
    display: inline-block;
}
input,textarea {
    background: #FAFAFA;
}
textarea {
    width: 27em;
    height: 9em;
}
ul {
    list-style: square;
}
a {
    color: #A56;
}
a:hover {
    color: #C58;
}
a:active {
    color: #C58;
}
a:visited {
    color: #943;
}
.clear {
    clear: both ;
}
.required {
    margin: 1em 0;
}
.optional {
    margin: 1em 0;
}
#main {
    position: relative;
    min-height: 100%;
    float: left;
    background: #fff;
    margin-left: 350px;
    padding-bottom: 100px;
    line-height: 1.5em;
}
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 175px;
    height: 100%;
    float: left;
    margin: 0 0 0 100px;
    background: #000001;
}
#nav-top,#nav-middle,#nav-bottom {
    padding: 0;
}
#nav-top {
    height: 20px;
    background: #000001;
}
#nav-middle {
    padding-top: 15px;
    padding-bottom: 30px;
    background: #F2EFEF;
}
#site-title {
    border: 6px solid black;
    font-size: 40px;
    text-align: center;
    font-family: UbuntuBold;
    margin-bottom: 20px;
}
#site-description {
    line-height: 1.3em;
}
#nav-bottom {
    position: relative;
    color: #fff;
}
#nav-bottom ul {
    list-style: none;
    font-family: UbuntuLight;
    padding: 0 0 0 12px;
}
#nav-bottom ul li {
    margin-top: 15px;
}
#nav-bottom ul li .nav-icon {
    width: 25px;
    display: inline-block;
}
